<h1>Details about "<%= @film.name %>":</h1>
<p><label>Release year:</label> <%= @film.year %></p>
<p><label>Director:</label> <%= @film.director %></p>
<p><label>Stars:</label> <%= @film.stars %></p>
<p><label>User rating:</label> <%= @film.rating.to_s + " (" + @film.votes.to_s +  " votes)" %></p>

<h3>Reviews</h3>
<% if @film.reviews.empty? %>
<p>The movie hasn't been reviewed yet.</p>
<% end %>

<%= render @reviews %>
<%= will_paginate @reviews %>

<h3>Write your own review!</h3>
<%= render 'reviews/new' %>
<br><br>

<%= link_to 'Edit movie', edit_film_path(@film) %>