<h1>Details about "<%= @film.name %>":</h1>
<p>Release year: <%= @film.year %></p>
<p>Director: <%= @film.director %></p>
<p>Stars: <%= @film.stars %></p>

<%= link_to 'All movies', films_path %>
<%= link_to 'Edit movie', edit_film_path(@film) %>